*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: 微软雅黑, serif, Verdana, Helvetica, Arial, sans-serif;
}
/*头部样式*/
.header,
.footer{
	border: 1px solid lightgray;
	height: 80px;
	width: 100%;
}
.header div{
	width: 50%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
/*尾部样式*/
.footer p{
	font-size: 14px;
	text-align: center;
}
